# Entornos virtuales
venv/
env/
ENV/
*.venv

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos SQLite locales
database_sqlite_local/ 
# *.sqlite3
# *.db 

# Archivos de configuración de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace

# Archivos de sistema operativo
.DS_Store
Thumbs.db